name: "Build docker image"

on:
  push:
    branches:
      - main
      - master
    paths:
      - "apps/**/*"

  workflow_dispatch:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.filter.outputs.apps }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            apps:
              - "apps/**/*"

  build-apps:
    needs:
      - detect-changes
    if: needs.detect-changes.outputs.apps == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: aazw
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image and push
        uses: docker/build-push-action@v6
        with:
          context: ./apps/
          file: ./apps/Dockerfile
          push: true
          tags: |
            ghcr.io/aazw/github_planter_apps:${{ github.sha }}-${{ github.run_number }}
            ghcr.io/aazw/github_planter_apps:latest
